.piedepagina {
	/*background: #111111;
	color: #fff;
	text-align: center;
	font-size: .7rem;
	bottom: 0; */

    position:absolute;
    bottom: 0px;
    height: 30px;
    width: 100%;
    background: #4040ff;
    color: #f4f4f4;

}



body{
    margin-bottom: 40px;
}



